<h2>Management Page</h2>

<div class="text-end">
  <button class="btn btn-primary" routerLink="/register">Nouveau User</button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>CITY</th>
      <th>ActionS</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users" key="user.id">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.city}}</td>
        <td class="text-end">
          <div class="btn-group">
            <button class="btn btn-danger" (click)="deleteUser(user.id)">Supprimer</button>
            <button class="btn btn-secondary" (click)="NavigateToUpdate(user.id)">Update</button>
          </div>
        </td>
      </tr>
  </tbody>
</table>
