<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="container my-3">
      <h1 class="text text-primary center">Register</h1>
      <h2>Add new User</h2>
      <p class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</p>
      <form (submit)="handleSubmit()">
        <!-- ???la #ence entre ngSubmit et submit -->
        <div class="container border_all">
          <div class="form-group">
            <label for="uname">Name:</label>
            <input type="text" [(ngModel)]="formData.name" name="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="uname">Email:</label>
            <input type="text" [(ngModel)]="formData.email" name="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="uname">Password:</label>
            <input type="text" [(ngModel)]="formData.password" name="password" class="form-control">
          </div>
          <div class="form-group">
            <label for="sel1">Role:</label>
            <select class="form-control" name="role" [(ngModel)]="formData.role">
              <option value="">Select Role</option>
              <option value="ADMIN">ADMIN</option>
              <option value="USER">USER</option>
            </select>
          </div>
          <div class="form-group">
            <label for="uname">City:</label>
            <input type="text" [(ngModel)]="formData.city" name="city" class="form-control">
          </div>

          <button type="submit" class="btn btn-outline-primary my-3">Register</button>
        </div>
      </form>
    </div>

  </div>
</div>
