<div class="container my-4">
  <h1 *ngIf="isAdmin">Liste de tous les comandes des users</h1>
  <h1 *ngIf="isUser" class="d-flex justify-content-between align-items-center">
    Liste des comandes dans votre panier
    <button class="btn btn-primary" routerLink="/produit/list">Nouveau achat</button>
  </h1>
  <p class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>CLIENT</th>
      <th>PRODUIT</th>
      <th>QUANITE COMANDE</th>
      <th>DATE COMANDE</th>
      <th>STATUT DE COMANDE</th>
      <th class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>
    @for (comande of comandes; track comande.id) {
      <tr>
        <td>{{comande.id}}</td>
        <td>{{comande.user.name}}</td>
        <td>{{comande.produit.nom_pro}}</td>
        <td>{{comande.qte_com}}</td>
        <td>{{comande.date_com | date:'dd/MM/yyyy hh:mm'}}</td>
        <td>{{comande.statut_com}}</td>
        <td class="text-end">
          <div class="btn-group">
            <button class="btn btn-secondary" *ngIf="isUser"  [routerLink]="[comande.id,'edit']">modifier</button>
            <button class="btn btn-danger"    *ngIf="isUser"  (click)="deleteComande(comande.id)">Supprimer</button>
            <button class="btn btn-primary"   *ngIf="isAdmin" (click)="approuverComande(comande.id)">Approuver</button>
            <button class="btn btn-danger"    *ngIf="isAdmin" (click)="refuserComande(comande.id)">Refuser</button>

          </div>
        </td>
        <!-- <td>{{contact.created_at | date:'dd/MM/yyyy hh:mm A'}}</td> -->
      </tr>
    }
  </tbody>
</table>

</div>
