.favorite-icon {
    font-size: 24px; /* Taille de l'icône */
  }
  
  .favorite-filled {
    color: #a71717; /* Couleur jaune pour l'icône remplie */
  }
  
  .favorite-empty {
    color: inherit; /* Couleur par défaut (non remplie) */
  }
  