<div class="row">
  <div class="col-2">
    <button class="btn btn-primary" routerLink="/employee">Employees</button>
  </div>
  <div class="col-2">
    <button class="btn btn-primary" routerLink="/client">Clients</button>
  </div>
  <div class="col-2">
    <button class="btn btn-primary" routerLink="/produit">Produits</button>
  </div>
  <div class="col-2">
    <button class="btn btn-primary" routerLink="/comande">Comande</button>
  </div>
  <div class="col-2">
    <button class="btn btn-primary" routerLink="/admin/comande">Comande Admin</button>
  </div>
</div>
<div class="container">
  <h2 class="my-5">Dashboard</h2>
</div>
